/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --base-color: #1abc9c;
  --grey-color: #888;
  --change-color: #1abc9c;
}

a {
  text-decoration: none;
  color: #fff;
}

div {
  display: block;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px){
  .container { 
    width:1170px
  }
}


/* Header */

nav ul {
  list-style: none; /* убираем маркеры */
  margin: 0; /* убираем системые отступы */
  padding: 0;
  display: flex;
  flex-flow: row wrap; /**/
  justify-content: flex-start;
}

nav ul li a {
  display: block;
  padding: 10px 15px 10px 0; 
}

header,
.main-menu {
  width: 100%;
  display: block;
}

.main-menu {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: #1abc9c;
  width: 100%;
}

.nav-item a {
  color: #fff;
  padding: 21px 20px;
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  background-color: #222;
}

.nav-item a:focus {
  text-decoration: none;
  background-color: #eee;
  color: #333;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .main-menu .container {
    padding: 0;
  }
  nav ul {
    justify-content: center;
  }
}